/**
 * Author - Hasan and Cordelle
 * Created - 04/10/2019
 * Note - CSS style for MenuPane via the MenuScene
 */

@font-face {
	font-family: 'IM FELL English';
	url: src('Resources/Fonts/fontFellEnglishRegular.ttf');
}

.menuButtons {
	-fx-background-color: black;
	-fx-border-color: gray;
	-fx-border-width: 2;
	-fx-text-fill: white;
	-fx-font-size: 36;
	-fx-font-family: 'IM FELL English';
}